#login-grid {
	position: absolute !important;
	width: 88% !important;
	bottom: 50%;
}


#separeted-label {
	margin-left: 2% !important;
}


#login-button {
	position: relative !important;
	width: 100% !important;
	top: 5% !important;
	text-align: center;
}